/* Common Css Here */


/* Buy Now Button */
.btn-custom {
  background-color: transparent;
  color: hsl(var(--p));
  border: none;
  padding: 5px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
}

.btn-custom::after {
  content: '';
  width: 0%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: hsl(var(--p));
  transition: 0.5s;
}

.btn-custom:hover::after {
  width: 100%;
}

/* Single Product Page Product Description */
.collapse-title,
:where(.collapse > input[type="checkbox"]) {
  min-height: 0px !important;
}

.collapse-plus .collapse-title:after {
  top: 0.8rem;
}

/* Single Product Page Button */
.singleProductpage-Btn .btn {
  color: #fff;
}

/* product page slider */
.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 40px;
  width: 60px;
}


/* Header CSS */
.searchInput:focus-visible~.searchResult {
  display: block;
  outline: none;
}